*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color: #222;
    color: white;
    font: 200 18px 'Poppins', sans-serif;
}

h1{
    padding-top: 20px;
}

label{
    display: block;
    font-size: 28px;
    font-weight: 500;
}

input{
    width: 300px;
    height: 30px;
    font: 200 20px 'Poppins', sans-serif;
    border-radius: 5px;
    margin: 10px;
}

select{
    width: 300px;
    height: 30px;
    margin: 10px;
}

.add{
    padding-top: 20px;
}

.flex-header{
    display: flex;
    border-bottom: 2px solid #ffc900;
    justify-content:space-around;
}

.img-header{
    width: 120px;
    padding-top: 10px;
}

.errorMsg{
    padding-top: 12px;
    color: #EF4E91;
}

button[type="submit"]{
    font: 600 18px 'Poppins', sans-serif;
    border-radius: 10px;
    background-color: #ffc900;
    width: 300px;
    height: 30px;
    margin-top: 15px;
}


a{
    display: block;
    text-decoration: none;
    font: 600 18px 'Poppins', sans-serif;
    color: black;
    background-color: #ffc900;
    border-radius: 10px;
    border: solid 1px black;
    width: 300px;
    height: 30px;
    padding-top: 2spx;
    margin: 15px;
}

.grid-content{
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.caja-1, .regresar{
    display: flex;
    justify-content:center;
}

.caja-2, .caja-1{
    margin-top: auto;
    margin-bottom: auto;
}

