*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{

    background-color: #222;
    color: white;
    font: 200 18px 'Poppins', sans-serif;

}

nav{
    position: static;
    background-color: #999;
    border-bottom: 2px solid #ffc900;
}

button{
    border-radius: 10px;
}

.titulo1{
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 2px solid #ffc900;
}

.encabezadoPro{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    font-weight: 600;
    font-size: 20px;
}

.listPro{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 125px 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.botcrud button{
    background-color: #ffc900;
    padding: 5px;
    font-weight: 300;
}
